body{
    margin: 0;
    padding: 0;
    color: black;
}
header::before{
    content: "";
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
h3{
    font-size: 2.2rem;
    margin-left: 30px;
    font-family: 'Lobster', cursive;
    color: coral;
}
h3 span{
    color: black;
}
.navigation{
    font-size: 20px;
    display: flex;
}
li{
    list-style: none;
    margin-right: 30px;
    margin-top: 20px;
}
li a{
    padding: 2px 23px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}
li a:hover{
    background-color: coral;
    color: black;
    transition: 0.6s ease;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    margin-right: 100px;
}
.gallery img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}
.gallery img:hover{
    width: 301px;
    height: 301px;
    transition: 0.1s ease;
}

.button{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.btn{
    font-family: 'Lobster', cursive;
    color: coral;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid coral;
}
.btn:hover{
    color: black;
    background-color: coral;
    transition: 0.4s ease;
}
.about{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 200px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px
}

.about{
    height: 400px;
    background-size: contain;
    
    background-image: url("bg1.webp");
    background-position: center;

    
    
}

.paras{
    padding: 0px 65px;
}

.sectionTag{
    padding: 0;
}

.sectionSubTag{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 500px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 200px;
}
.text-center{

    
    padding-top: 30px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;}
.text-small{
    text-align: center;
}
.text-big{
    text-align: center;
}

.contact{
    align-items: center;
    background-color: #d6a16b;
    height: 833px;
}
.text-center{

    text-align: center;
    padding-top: 30px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%; 
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: rgb(236, 201, 163);
   
}

